<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="salary-config.component.scss">
</head>

<body>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4">

        <button class="btn btn-primary btn-sm" type="button" (click)="addEdit()">
          <fa-icon [icon]="faPlus"></fa-icon> Adaugă
        </button>

      </div>
      <div class="col-md-4">
        <h4 class="text-center">Configurare Salarii</h4>
      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <!-- 
        <div id='view' class="view-scroll-outgoing" [scrollWindow]='false' (scroll)='showTopButton()' infiniteScroll
              [infiniteScrollDistance]="2" [infiniteScrollThrottle]="30" (scrolled)="onScrollDown()">
              <button type='button' id='back-top' class={{this.showBackTop}} (click)='onScrollTop()'>
                <fa-icon [icon]='faChevronUp'></fa-icon>
              </button>
        </div> -->
        <!-- Nu merge scrollul -->

        <table class="table  table-hover">
          <thead class="table-bordered">
            <tr>


              <th>Denumire</th>
              <th width="300px">Clasificație economică (cheltuială)</th>
              <th width="100px">SDP normal</th>
              <th rowspan='2' width="70px"></th>
            </tr>

            <tr>

              <th><input [(ngModel)]="nameSearch" class='form-control input-xs' placeholder='Caută denumire...'
                  (input)="onSearchChange()" /></th>

              <th><input [(ngModel)]="clasEconSearch" class='form-control input-xs'
                  placeholder='Caută clasificatie economica...' (input)="onSearchChange()" /></th>

              <th><input type="checkbox" [(ngModel)]="trueCheckedNormal" class="form-check-input"
                  (change)="onCheckboxChange('true')" />
                ✓/✗
                <input type="checkbox" [(ngModel)]="falseCheckedNormal" class="form-check-input"
                  (change)="onCheckboxChange('false')" />
              </th>


            </tr>

          </thead>

          <tbody>
            <ng-container *ngFor="let item of totals">

              <tr (dblclick)="addEdit(sc.id)" *ngFor="let sc of filteredSalaryConfigs.slice(0, limit)"
                class="cursor-pointer ">

                <ng-container *ngIf="sc.category === item.category">

                  <td class="text-center">{{ sc.name }}</td>
                  <td class="text-center">{{ sc.id_outgoingParagraph }}</td>
                  <td class="text-center">
                    <span [class.checked-icon]="sc.normal" [class.unchecked-icon]="!sc.normal"></span>
                  </td>
                  <td class="text-center">
                    <fa-icon class="text-primary" [icon]="faEdit" (click)="addEdit(sc.id)" matTooltip="Modificare"
                      matTooltipPosition="left"></fa-icon>
                    <fa-icon class="text-danger" [icon]="faTrashAlt" (click)="delete(sc)" matTooltip="Ștergere"
                      matTooltipPosition="left"></fa-icon>
                  </td>

                </ng-container>

              </tr>

              <tr class="row_background">

                <td class="text-bold">{{ item.name }}</td>
                <td></td>
                <td></td>
                <td class="text-center">
                  <fa-icon class="text-primary" [icon]="faEdit" (click)="addEdit(item.id)" matTooltip="Modificare"
                    matTooltipPosition="left"></fa-icon>
                  <fa-icon class="text-danger" [icon]="faTrashAlt" (click)="delete(item)" matTooltip="Ștergere"
                    matTooltipPosition="left"></fa-icon>
                </td>
                <!-- <td class="text-center">
                  <span [class.checked-icon]="sc.normal" [class.unchecked-icon]="!sc.normal"></span>
                </td> -->
              </tr>

            </ng-container>

            <tr *ngFor="let sc of salaryConfigsNotInTotals" class="cursor-pointer ">
              <td class="text-center">{{ sc.name }}</td>
              <td class="text-center">{{ sc.id_outgoingParagraph }}</td>
              <td class="text-center">
                <span [class.checked-icon]="sc.normal" [class.unchecked-icon]="!sc.normal"></span>
              </td>
              <td class="text-center">
                <fa-icon class="text-primary" [icon]="faEdit" (click)="addEdit(sc.id)" matTooltip="Modificare"
                  matTooltipPosition="left"></fa-icon>
                <fa-icon class="text-danger" [icon]="faTrashAlt" (click)="delete(sc)" matTooltip="Ștergere"
                  matTooltipPosition="left"></fa-icon>
              </td>
            </tr>

          </tbody>

        </table>

      </div>
    </div>
  </div>


</body>

</html>