<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="activity.component.scss">
</head>

<body>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4">

        <button class="btn btn-primary btn-sm" type="button" (click)="addEdit()">
          <fa-icon [icon]="faPlus"></fa-icon> Adaugă
        </button>

      </div>
      <div class="col-md-4">
        <h4 class="text-center">Activități </h4>
      </div>

    </div>

    <div class="row">
      <div class="col-12">

        <!-- <div id='view' class="view-scroll-outgoing" [scrollWindow]='false' (scroll)='showTopButton()' infiniteScroll
              [infiniteScrollDistance]="2" [infiniteScrollThrottle]="30" (scrolled)="onScrollDown()">
              <button type='button' id='back-top' class={{this.showBackTop}} (click)='onScrollTop()'>
                <fa-icon [icon]='faChevronUp'></fa-icon>
              </button>
        </div> -->
        <!-- Nu merge scrollul -->

        <table class="table table-striped table-hover">
          <thead class="table-bordered">
            <tr>

              <th rowspan='2' width="70px">Nr. Crt.</th>
              <th width="170px">Superior</th>
              <th>Nume</th>
              <th width="120px">Cod</th>
              <th width="120px">Ultimul nivel</th>


              <th rowspan='2' width="70px"></th>

            </tr>
            <tr>
              <th><input [(ngModel)]="superiorSearch" class='form-control input-xs' placeholder='Caută superior...'
                (input)="onSearchChange()" /></th>
              <th><input [(ngModel)]="nameSearch" class='form-control input-xs' placeholder='Caută nume...'
                  (input)="onSearchChange()" /></th>
              <th><input [(ngModel)]="codeSearch" class='form-control input-xs' placeholder='Caută cod...'
                  (input)="onSearchChange()" /></th>
              

              <th><input type="checkbox" [(ngModel)]="trueChecked" class="form-check-input" (change)="onCheckboxChange('true')" />
                ✓/✗
                <input type="checkbox" [(ngModel)]="falseChecked" class="form-check-input" (change)="onCheckboxChange('false')" />
              </th>


            </tr>

          </thead>


          <tbody>
            <tr (dblclick)="addEdit(activity.id)" *ngFor="let activity of filteredActivities.slice(0, limit); let i = index"
              class="cursor-pointer ">
              <td class="text-center">{{ i + 1 }}</td>
              <td class="text-center">{{ activity.id_superior }}</td>
              <td class="text-center">{{ activity.name }}</td>
              <td class="text-center">{{ activity.code }}</td>
              <td class="text-center">
                <span [class.checked-icon]="activity.last_child" [class.unchecked-icon]="!activity.last_child"></span>
              </td>
              <td class="text-center">

                <fa-icon class="text-primary" [icon]="faEdit" (click)="addEdit(activity.id)" matTooltip="Modificare"
                  matTooltipPosition="left"></fa-icon>
                <fa-icon class="text-danger" [icon]="faTrashAlt" (click)="delete(activity)" matTooltip="Ștergere"
                  matTooltipPosition="left"></fa-icon>
              </td>
            </tr>

          </tbody>

        </table>

      </div>
    </div>
  </div>


</body>

</html>